{
    "plugins": [
      ["prismjs", {
          "languages": ["javascript", "css", "markup","php","mysql","java"],
          "plugins": ["line-numbers,copy-to-clipboard"],
          "theme": "okaidia",
          "css": true
      }]
    ]
  }